{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3>Encoded message</h3>
            <textarea readonly name='encoded_message' rows='10' cols='50'>{{encoded_message}}</textarea><br>
            <form method='POST' action='/' class='me-1 mb-3'>
                {% csrf_token %}
                <input type='hidden' name='user_id' value={{user.id}}></input>
                <input type='hidden' name='encoded_message' value='{{encoded_message}}'></input>
                <input type='hidden' name='shift' value={{shift}}></input>
                <input type='submit' value='Save Encoded Message'></input>
            </form>
            <a href='/'>Return</a>
        </div>
    </div>
</div>
{% endblock %}
