{% extends 'base.html' %}
{% block body %}
<h1>Encoded message: {{encoded_message}}</h1>
<div>
    <form method='POST' action='/' style='float:left' class='me-1'>
        {% csrf_token %}
        <input type='hidden' name='user_id' value={{user.id}}></input>
        <input type='hidden' name='encoded_message' value='{{encoded_message}}'></input>
        <input type='hidden' name='shift' value={{shift}}></input>
        <input type='submit' value='Save Encoded Message'></input>
    </form>
    <form action='/' style='float:left'>
        <input type='submit' value='Return'></input>
    </form>
</div>
{% endblock %}
