{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <div class='row text-center'>
        <div class='col-12'>
            <form method='POST' action='encode'>
                {% csrf_token %}
                <h5>Type message to encode below:</h5>
                <textarea name='plaintext_message' rows='10' cols='50'></textarea><br>
                <input type='text' name='shift_value' placeholder='Enter shift value'></input>
                <input type='submit' value='Encode'></input>
            </form>
            <br>
            <form method='POST' action='decode'>
                {% csrf_token %}
                <h5>Type message to decode below:</h5>
                <textarea name='encoded_message' rows='10' cols='50'></textarea><br>
                <input type='text' name='shift_value' placeholder='Enter shift value'></input>
                <input type='submit' value='Decode'></input>
            </form>
        </div>
    </div>
</div>
{% endblock %}
