{% extends 'base.html' %}
{% block body %}
<style>
    p {
        display: inline-block;
    }

    .alert {
        color: red;
    }
</style>
<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-4'>
            <h1>User Registration</h1><br>
            {% for message in messages %}
            <h5 class='alert'>**{{message}}**</h5>
            {% endfor %}
            <form method='POST' action='register'>
                {% csrf_token %}
                <p>Username: </p>
                <input class='float-end' type='text' name='username' required></input><br>
                <p>Email: </p>
                <input class='float-end' type='email' name='email' required></input><br>
                <p>Password: </p>
                <input class='float-end' type='password' name='password' required></input><br>
                <p>Retype Password: </p>
                <input class='float-end' type='password' name='password_verification' required></input><br>
                <input type='submit' value='Register'></input>
            </form>
        </div>
    </div>
</div>
{% endblock %}