{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <div class='row text-center'>
        <div class='col-12'>
            {% if user.is_authenticated %}
            <h1>Saved Encoded Messages</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Message ID</th>
                        <th scope="col" class='w-50'>Text</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for encoded_message in encoded_message_list %}
                    <tr class="table-default">
                        <th scope="row">{{encoded_message.id}}</th>
                        <td>{{encoded_message.text}}</td>
                        <td>{{encoded_message.shift}}</td>
                        <td>{{encoded_message.owner}}</td>
                        <td>{{encoded_message.creation_date}}</td>
                        <td>
                            <div class='d-flex justify-content-evenly'>
                                <form action='../decode' method='POST' class='me-1'>
                                    {% csrf_token %}
                                    <input type='hidden' name='encoded_message' value='{{encoded_message.text}}'></input>
                                    <input type='hidden' name='shift_value' value={{encoded_message.shift}}></input>
                                    <input type='submit' value='Decode'></input>
                                </form>
                                <form action='../delete' method='POST' class='me-1'>
                                    {% csrf_token %}
                                    <input type='hidden' name='message_id' value={{encoded_message.id}}></input>
                                    <input type='hidden' name='username' value={{user.username}}></input>
                                    <input type='submit' value='Delete'></input>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action='/'>
                <input type='submit' value='Return'></input>
            </form>
            {% else %}
            <h1>You must be logged in to view this page.</h1>
            <form action='../login'>
                <input type='submit' value='Login or Register'></input>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
